*{
    padding: 0%;
    margin: 0%;
}

html, body{
    overflow-x: hidden;
    width: 100%;
}

body{
    font-family: Inter,Arial,sans-serif;;
}

nav{
    position: fixed;
    color: white;
    top: 0;
    width: -webkit-fill-available;
    height: 5vh;
    padding: 2% 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    z-index: 999999;
}

.logo{
    position: absolute;
    left: 3%;
    font-size: 2em;
    font-weight: 800;
}

.logo-im{
    position: relative;
    width: 6%;
    transform: scale3d(1.2, 1.3, 1.2);
}

.health{
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 2%;
    width: 30%;
    font-size: 12px;
}

.wash{
    display: flex;
    justify-content: space-evenly;
}

.wash_emoji{
    width: 20%;
}

.online_doc a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.online_doc{
    display: flex;
    align-items: center;
    background: #36454f;
    padding: 2% 5%;
    border-radius: 2px;
    font-weight: 550;
    transition: 0.5s;
}

.online_doc:hover{
    background: rgb(24, 169, 247);
}

.online_doc a:hover{
    color: black !important;
}

.section1{
    height: 100vh;
    width: 100%;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 25%;
}

.section2{
    display: flex;
    justify-content: center;
    background: linear-gradient(to top, #2d2646, #1f1f3e);
    padding: 6% 4%;
    width: auto;
}

.disp{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 500px;
}

.disp img {
    width: 100%;
    height: 100%;
    /* margin: 0 10px; */
    opacity: 0;
    transition: opacity 0.5s;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 17px;
    /* filter: blur(10px); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 5px solid #060606;
}
  

.im1{
    /* width: 100%; */
    /* position: absolute; */
}

.im2{
    /* width: 100%; */
    /* position: absolute; */
}

.im3{
    /* width: 100%; */
    /* position: absolute; */
}

.im4{
    /* width: 100%; */
    /* position: absolute; */
}

.im5{
    /* width: 100%; */
    /* position: absolute; */
}

.disp img.active {
    opacity: 1;
}

.disp button {
    position: absolute;
    top: 50%;
    /* transform: translateY(-50%); */
    border: none;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
    background-color: aliceblue;
    padding: 3px 6px;
    border: black;
}

.disp button.prev {
    left: 10px;
}
  
.disp button.next {
    right: 10px;
}

#bg-video {
    z-index: -2;
    height: 100%;
}
  
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5); /* Semi-transparent black background */
    backdrop-filter: blur(10px);
    z-index: -1;
}

.about{
    position: absolute;
    top: 43%;
    width: 80%;
    font-size: 1.3em;
    text-align: center;
    font-weight: 550;
    transition: 0.5s;
}

.about:hover{
    word-spacing: 2px;
}

.about-cont{
    display: flex;
    justify-content: center;
    color: white;
}

span, .why span{
    color: rgb(5, 184, 184);
}

.why{
    /* display: block; */
    position: absolute;
    top: 25%;
    width: 80%;
    font-size: 3rem;
    text-align: center;
    font-weight: 900;
}

.whyres{
    display: contents;
}

.ai{
    /* width: 100%; */
    width: 40%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.ai form{
    text-align: left;
    padding: 9% 6%;
    position: relative;
    z-index: 1;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.select{
    padding: 1% 4%;
    font-size: 1.8rem;
    font-weight: 600;
    position: relative;
    z-index: 1;
    text-align: center;
    border-radius: 10px;
    margin: 3% 6%;
}

.backdrop{
    opacity: 20% !important;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    border-radius: 3%;
    align-items: center;
    background-color: rgb(252, 253, 252);
}

.now{
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ai hr{
    color: black;
    margin: auto 3%;
    width: 80%;
}

#audio-submit{
    width: 35%;
    padding: 4% 6%;
    color: rgb(3, 2, 2);
    background-color: aqua;
    text-align: center;
    width: 70%;
    /* border-radius: 5%; */
    align-self: center;
}

.gender{
    display: flex;
    /* justify-content: space; */
    margin-left: 4%;
}

#param1{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    margin-left: 4%;
}

.fl{                                                                                        
    display: flex;
    /* justify-content: space-evenly; */
    width: 90%;
    /* background-color: aliceblue; */
    align-self: center;
    justify-content: center;
    height: 7%;
    position: absolute;
    border: dotted;
    padding: 2% 4%;
    top: 1.5%;
}

#audio_file{
    /* right: 30%; */
}

.selectfile{
    /* left: 10%; */
    font-size: 0.8em;
    margin-right: 3%;
}

.age, .res, .fev, .gen{
    display: flex;
    justify-content: flex-start;
    margin: auto 1%;
    width: 100%;
}

form label{
    margin-left: 6%;
    font-weight: 600;
}

.gender label{
    /* margin: 0% !important; */
}

.gender p{
    margin-right: 3%;
}

input[type="checkbox" i]{
    margin: auto 6%;
}

.age input{
    width: 100%;
    padding: 4% 6%;
    border-radius: 3%;
}

.checkboxes{
    text-align: center;
    color: #272728;
    font-size: 1.2em;
}

.result {
    background-color: aliceblue;
    width: 50%;
    font-size: 1.5em;
    padding: 6% 11%;
    text-align: center;
    border-radius: 50px;
    border: none;
    font-weight: 700;
    margin-bottom: 10%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}

.covid{
    color: red;
}

.healthy{
    color: green;
}

.symptom{
    color: rgb(221, 188, 1);
}

.foot{
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 0.7em;
    padding: 1% 0%;
}


.section3{
    padding: 9% 8%;
    background-color: cadetblue;
}

.section3im{
    width: 10% !important;
    position: absolute;
    bottom: 1%;
    right: 1%;
    transform: rotateZ(-25deg);
    padding: 2%;
}

.imsec{
    position: relative;
}