<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Respir | AI Tool</title>
    <link rel="icon" href="{{ url_for ('static', filename =
    "images/respir.png") }}"
    type="image/x-icon" /> 
    <link rel="stylesheet" href="{{ url_for ('static',
    filename = "style.css") }}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <nav>
            <div class="logo">Respi<img class="logo-im" src="{{ url_for ('static', filename =
                "images/logo.png") }}" alt=""></div>
            <div class="health">
                <div class="wash">
                    <p class="wash_text">Have you washed your hands today?</p>
                    <div class="wash_emoji"><div style="width:100%;height:0;padding-bottom:100%;position:relative;pointer-events: none;"><iframe src="https://giphy.com/embed/44Xl7AyW9wAXRJZalt" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div></div>
                </div>
                <div class="online_doc"><a href="https://www.mayoclinic.org/symptom-checker/select-symptom/itt-20009075"><p>Online Doctor?</p></a></div>
            </div>
        </nav>
    </header>
    <div class="overlay"></div>
    <div class="section1">
        <video autoplay muted loop id="bg-video">
            <source src="{{ url_for ('static', filename =
            "images/2588745259.mp4") }}"" type="video/mp4">
        </video>
    </div>    
    <div class="about-cont">    
    <div class="whyres"><p class="why">Why Respi<span>R</span>?</p><div class="about">Our AI-powered platform detects different types of coughs, including COVID, and symptomatic, providing quick feedback on respiratory disease symptoms. Healthcare professionals can use it to monitor outbreaks, and individuals can make informed decisions about seeking medical care. With accuracy, speed, and convenience, our web-based tool harnesses the power of AI to improve healthcare and make it accessible to everyone. Join us on this journey to track and detect respiratory illnesses in real-time.</div>
    </div>
    </div>
    <div class="section2">
        <div class="ai">
            <div class="now">
            <div class="backdrop"></div>
            <div class="select">Let's analyze your cough</div>
            <hr>
            <form id="upload-form" enctype="multipart/form-data" onsubmit="handleFormSubmit(event)">
                <div class="fl">
                    <label for="audio_file" class="selectfile">Select an audio file:</label>
                    <input type="file" id="audio_file" name="audio_file" accept="audio/*" required>
                </div>
                <br><br>
                <label class= "checkboxes" for="checkboxes">Select any additional parameters:</label>
                <br>
                <div class="age">
                    <label for="param1">Age</label>
                    <input type="text" id="param1" name="param1" placeholder="How old are you?" pattern="\d+" required>
                </div>
                <br>
                <div class="gen">
                    <label>Gender</label>
                    <div class="gender">
                        <label>
                            <input type="radio" name="gender" value="1" required>
                            <p>Male</p>
                        </label>
                        <label>
                            <input type="radio" name="gender" value="2" required>
                            <p>Female</p>
                        </label>
                    </div>
                </div>
                <br>
                <div class="fev">
                    <input type="checkbox" id="param2" name="param2" value="1">
                    <label for="param2">Fever/Muscle pain</label>
                </div>
                <br>
                <div class="res">
                    <input type="checkbox" id="param4" name="param4" value="1">
                    <label for="param4">Do you have a Respiratory Condition? | Select the checkbox if Yes.</label>
                </div>
                <br><br>
                <input id="audio-submit" type="button" value="Upload">
            </form>
            <div class="result" id="result"><p>Health status: <p id="news"></p></p></div>
        </div>
    </div>
    </div>
    <div class="section3">
        <div class="disp">
            <img class="im1" id="im1" src="{{ url_for ('static',
            filename = "/images/cough2.jpg") }}" alt="">
            <img class="im2" id="im2" src="{{ url_for ('static',
            filename = "/images/cough3.jpg") }}" alt="">
            <img class="im3" id="im3" src="{{ url_for ('static',
            filename = "/images/cough4.jpg") }}" alt="">
            <img class="im4" id="im4" src="{{ url_for ('static',
            filename = "/images/cough5.jpg") }}" alt="">
            <img class="im5" id="im5" src="{{ url_for ('static',
            filename = "/images/cough6.jpg") }}" alt="">
            <button class="prev" onclick="prevImage()">&lt;</button>
            <button class="next" onclick="nextImage()">&gt;</button>
        </div>
        <div class="imsec">
            <img class="section3im" src="{{ url_for ('static', filename = "images/logo.png") }}" alt="">
        </div>
    </div>
    <div class="footer">
        <p class="foot">@2023 Respir. All rights reserved.</p>
    </div>
</body>
<script src="{{ url_for ('static', filename = "cough.js") }}"></script>
</html>